# Caches and logs
*.log
*.pot
*.pyc
__pycache__/

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Local files
local_settings.py
unused/

# Environment files
.env
env/

# Database
*.sqlite3
databases.json

# Text backup files
*.bak

