# Caches and logs
*.log
*.pot
*.pyc
__pycache__/

# Local files
local_settings.py
unused/

# Environment files
.env
env/

# Database
*.sqlite3
databases.json

# Text backup files
*.bak

# test files
api_app/tests.py
api_app/views1.py
api_app/views2.py
api_app/views3.py
api_app/views4.py

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history