# Caches and logs
*.log
*.pot
*.pyc
__pycache__/

# Local files
local_settings.py
unused/

# Environment files
.env
databases.json

# Virtual env
env/

# Database
*.sqlite3

# Text backup files
*.bak

# test files
api_app/test.py
views1.py
views2.py
views3.py
views4.py